*{margin:0;
    padding:0;
   } /*Não deixar que os itens da página atinjam as extremidades*/
   
   hr{
       display:block; /*Não permite movimentação da linha*/
       margin-top:0.5em; /*Espaçamento entre o topo da margem*/
       margin-bottom: 0.5em; /*Espaçamento entre a parte de baixo*/
       margin-left: auto;
       margin-right: auto;
       border-style: inset; /*Estilo da borda*/
       border-width: 2px; /*Largura da borda*/
       border-color: rgb(212, 139, 230); /*Cor da borda*/
   }
   header img{ /*Definições da imagem que estão dentro do cabeçalho*/
       width: 100px; /*Largura da imagem*/
       height: 100px; /*Altura da imagem*/
       margin: 10px; /*Margem da imagem*/
   
   }
   
   header h1{ /*Definições do titulo que estão dentro do cabeçalho*/
       color:rgb(247, 146, 222); /*cor do texto*/
       -webkit-text-stroke: 2px black; /*contorno do texto*/
       padding-top: 30px; /*Espaçamento entre o topo e o texto*/
   
   
   }

   div img{
    width: 350px; /*Largura da imagem*/
    height: 350px; /*Altura da imagem*/
    margin: 10px; /*Margem da imagem*/
   }

   
    
   #menu ul{/*ID para lista*/
   list-style: none; /*Sem nenhum estilo na lista, tira os pontos*/
   margin-left: 600px;}
   
   #menu li a{
       color:rgb(211, 0, 130); /*cor do texto no menu*/
       text-decoration: none; /*Sem estilo no texto*/
       padding: 5px 10px; /*Espaçamento entre os textos no Menu*/
       display: block; /*Opções do menu bloqueadas na posição atual*/
   }
   #menu li a:hover{
       background: palevioletred; /*Fundo do efeito*/
       color: white; /*Cor do texto no efeito*/
       text-shadow: 0px 0px 5px white; /*Sombra do efeito*/
   }
   #menu li ul{
       position: absolute;
       top: 25px; /*Espaçamento do topo*/
       left: 0; /*Espaçamento da esquerda*/
       background-color: cornflowerblue;
       display: none;
   }
   #menu li:hover ul,#menu li.over ul{
       display: block; /*Durante o efeito não moverá o menu*/
   }
   header, #menu, #menu ul{
       display: flex;
   }
   footer hr {
       margin-top: 1000px;
       margin-bottom: 0.5em;
       margin-left: auto;
       margin-right: auto;
       border-style: inset;
       border-width: 2px; /*Largura da borda*/
       border-color: rgb(248, 220, 229); /*Cor da borda*/
     }
   
   
     footer img{
       width: 210px;
       height: 200px;
       margin-left: 900px;
       }
       footer h1{
       color: palevioletred;
       -webkit-text-stroke: 2px black;
       margin-left: 910px;
       padding-bottom: 25px;
       }

       table{
        background-color: pink; /*cor do fundo*/
       }
       table img{
        width: 150px;
       height: 150px;
       }
       body h1{
        font-family: Georgia, 'Times New Roman', Times, serif; /*Tipo da fonte*/
        font-size: 35px ; /*Tamanho da fonte*/
        font-style: normal; /*Estilo da fonte*/
        color:palevioletred; /*cor do texto*/
       -webkit-text-stroke: 2px black; /*contorno do texto*/
       padding-top: 30px; /*Espaçamento entre o topo e o texto*/

       }

       
       body{
        background-color: pink; /*cor do fundo*/
       }

       hr img{
        width: 150px;
       height: 150px;
       }

       div{
        text-align: center;
       }